<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Not Found</title>
    <style type="text/css">
        body { margin: 0; font-family: Monaco, monospace, serif }
        header { padding: 10px 20px; background: #FAF1D9; border-bottom: 2px solid #999 }
        header h1 { font-size: 30px; line-height: 24px }
        p { font-size: 14px }
    </style>
</head>
<body>
    <header>
        <h1>Not Found</h1>
        <p>The requested URL was not found on this server.</p>
    </header>
</body>
</html>