<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <style type="text/css">
        body { margin: 0; font-family: Monaco, monospace, serif }
        header { padding: 10px 20px; background: #F8B0B0; border-bottom: 2px solid #999 }
        header h1 { font-size: 30px; line-height: 24px }
        p { font-size: 14px }
        p.stack { padding: 10px 20px }
    </style>
</head>
<body>
    <header>
        <h1>{{name}}</h1>
        <p>{{message}}</p>
    </header>
    <p class="stack">{{stack}}</p>
</body>
</html>